.bodyWrapper {
  flexGrow: 1;

}
.projectTitle{
  margin-bottom: 5px;
}

.searchContainer {
  background-color: #fff;
  margin:  0;
  padding-bottom: 10px;
  border-radius: 5px;
}

.searchContainer h5 {
  text-align: center;
}

.flexcontainer {
  display: flex;
  flex-direction: row;

}

.searchContainerLeft {
  width: 15%;
  margin: 0 10px;
}

.productDisplayContainer {
  width: 85%;

}

.developerInfo {
  position: sticky;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
}

@media (min-device-width: 300px) and (max-device-width: 699px) {
  .flexcontainer {
    display: flex;
    flex-direction: column;
  }

  .searchContainerLeft {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .productDisplayContainer {
    width:100%;
    padding: 10px;
  }
  .developerInfo {
    position: relative;
  }
}

@media (min-device-width: 700px)  {

  .searchContainerLeft {
    width: 30%;
  }
  .titleProgram{
    position: sticky;
    top: 0;
  }
  .searchContainer {
    position: sticky;
    top: 48px;
    background-color: #fff;
  }
  .productDisplayContainer {
    width:80%;
    overflow: scroll;
    margin: 0 10px;
    height: 90vh;
  }
}

@media (min-device-width: 1024px) {
  .searchContainerLeft {
    width: 25%;
  }
  .productDisplayContainer {
    width:75%;
    overflow: scroll;
  }
}

@media (min-device-width:  1440px) {

  .searchContainerLeft {
    width: 15%;
  }

  .productDisplayContainer {
    width:85%;
    overflow: scroll;
  }
}

@media (min-device-width: 1800px){

  .searchContainerLeft {
    width: 10%;
  }

  .productDisplayContainer {
    width:90%;
  }
}


