.listStyle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.yearFilter {
    display: flex;
    flex-direction: column;
}


.filterTitle {
    margin: 5px 15px;
    display: flex;
}


.filterHead {
    margin: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 2px solid #c4bdbb;
    padding-bottom: 4px;
}

.column button {
    margin: 5px;
    width: 75px;
    border: none;
    color: black;
    border-radius: 5px;
}

.column button:hover {
    border: none;
    background: #9ACD32;
    color: black;
    border-radius: 5px;
}



.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}


.blue-column {
    background-color: blue;
    height: 100px;
}

.green-column {
    height: 100px;
    background-color: green;
}